<!DOCTYPE html>
<html>
  <head>
    <title>Video feed</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
      #frame {
        width: 100%;
        height: auto;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      img {
        width: 100%;
        max-height: auto;
      }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  </head>
  <body>
    <div id="frame" class="container-fluid"><img></div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/frame.js') }}"></script>
  </body>
</html>
